.logo {
  margin: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4;
  padding-top: 3.2rem;
}
.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  gap: 0.4rem;
  font-size: 4.2rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  opacity: 0.8;
  filter: brightness(50%);
}
.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
